.revenueChartBox{
    width: 600px;
    height: 400px;
    border-radius: 12px;
    background-color: #ffff;
    padding: 12px 20px 12px 0px
}

.chartTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}