.button{
    width: max-content;
    height: 40px;
    background-color: #388BC6;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: white;
    cursor: pointer;
}