.horizontalGrayBox{
    background-color: #F5F5F5;
    display: flex;
    gap:12px;
    padding: 12px;
    border-radius: 12px;
    flex-wrap: wrap;
}

.emptyBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}