.taskWidgetBox{
    background-color: #fff;
    height: 100px;
    width: 100px;
    font-size: xx-small;
    border-radius: 12px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    cursor: pointer;
}

.taskWidgetTitle{
    font-size: larger;
    font-weight: bold;
}

.redText{
    color: red;
}

.yellowText{
    color: yellow
}
